body{
    width: 90vw;
    height: 90vh;
}

main {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    position: relative;
}
h1,h3{
    margin: 2rem auto;
    width: 15rem;
}

table {
    margin: auto;
    background-color: bisque;
    width: 600px;
    height: 600px;
    border: 1px solid burlywood;
}

td {
    width: 200px;
    height: 200px;
    font-size: 90px;
    text-align: center;
}
td:hover{
    background-color: burlywood;
}
button {
    position: absolute;
    margin: 1rem auto;
    left: 50%;
}

.selected{
    background-color: rgb(11, 107, 73);
    color: beige;
}
.selected:hover{
    background-color: rgb(11, 107, 73);
}
.win{
    background-color: rgb(6, 194, 37);
    color: beige;
}
.loose{
    background-color: red;
    color: beige;
}

.win:hover{
    background-color: rgb(6, 194, 37);
}
.loose:hover{
    background-color: red;
}